# Configuration file

general {
    S:"Configuration Version"=v3

    "global modifiers" {
        # A flat multiplier on the bonus all stats gives.
        D:"Bonus Multiplier"=1.0

        # A flat multiplier on the cost to upgrade all stats.
        D:"Cost Multiplier"=1.0

        # Lose stats on death?
        B:"Death Loss"=false

        # Multiplier of levels you will lose, between 0~1.
        D:"Death Loss Multiplier"=1.0

        # A flat multiplier on the level limit of all stats.
        D:"Limit Multiplier"=2.5

        # An integer that constrains the max number of level of the skill can be reverted. -1 for no limit. 0 to disable reverting.
        I:"Maximum revertable skill level"=-1

        # How much percentage of exp will be given back to player if a player revert a skill.
        D:"Revert Factor"=0.800000011920929
    }

    support {
        D:"Reaper Limit"=20.0
    }

}


